# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

cffi==1.15.1
celery[sqs]==5.4.0
Flask-Bcrypt==1.0.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
flask-sqlalchemy==3.0.2
Flask==3.0.0
click-datetime==0.2
# We originally pinned this due to eventlet v0.33 compatibility issues. That was supposedly fixed in version v21.0.0 and we merged v21.2.0 for a while. Until we ran a load test again, and identified that the bumped version of gunicorn led to a 33%+ drop-off in performance/requests per second that the API was able to handle. If a version greater than 21.2.0 is released, and it either gives us something we need or we think it addresses said performance issues, make sure to run a load test in staging before releasing to production.
gunicorn[eventlet] @ git+https://github.com/benoitc/gunicorn.git@1299ea9e967a61ae2edebe191082fd169b864c64
iso8601==1.1.0
itsdangerous==2.1.2
jsonschema[format]==4.16.0
marshmallow-sqlalchemy==0.28.1
marshmallow==3.18.0
# Requests pinned to 2.32.2 until https://github.com/psf/requests/issues/6730 is fixed. Once so, we can remove this pin
requests==2.32.2
psycopg2-binary==2.9.6
PyJWT==2.5.0
SQLAlchemy==1.4.41
beautifulsoup4==4.11.1
lxml==4.9.3

# TODO: remove from here once boto3 dependencies are updated in utils
boto3>=1.34.100

notifications-python-client==8.0.1

notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@79.0.0

# gds-metrics requires prometheseus 0.2.0, override that requirement as 0.7.1 brings significant performance gains
prometheus-client==0.14.1
git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

sentry-sdk[flask,celery,sqlalchemy]>=1.0.0,<2.0.0
