# This file is automatically copied from notifications-utils@87.1.0

beautifulsoup4==4.11.1
pytest==7.2.0
pytest-env==0.8.1
pytest-mock==3.9.0
pytest-xdist==3.0.2
pytest-testmon==2.1.0
pytest-watch==4.2.0
requests-mock==1.10.0
freezegun==1.2.2

black==24.4.0  # Also update `.pre-commit-config.yaml` if this changes
ruff==0.3.7  # Also update `.pre-commit-config.yaml` if this changes
