# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

cffi==1.11.5
celery[sqs]==4.2.1
docopt==0.6.2
Flask-Bcrypt==0.7.1
flask-marshmallow==0.9.0
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
Flask==1.0.2
click-datetime==0.2
eventlet==0.23.0
gunicorn==19.7.1
iso8601==0.1.12
jsonschema==2.6.0
marshmallow-sqlalchemy==0.14.1
marshmallow==2.15.6
psycopg2-binary==2.7.5
PyJWT==1.6.4
SQLAlchemy==1.2.12

notifications-python-client==5.2.0

# PaaS
awscli==1.15.82
awscli-cwlogs>=1.4,<1.5
botocore<1.11.0

git+https://github.com/alphagov/notifications-utils.git@30.4.0#egg=notifications-utils==30.4.0

# if you want to update pycurl please do so in makefile
