# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

celery[sqs]==5.6.0
Flask-Bcrypt==1.0.1
flask-marshmallow==1.3.0
Flask-Migrate==3.1.0
flask-sqlalchemy==3.1.1
click-datetime==0.2
gunicorn[eventlet]==23.0.0
eventlet==0.39.1
iso8601==2.1.0
jsonschema[format]==4.23.0
marshmallow-sqlalchemy==1.0.0
marshmallow==3.21.3
psycopg2-binary==2.9.10
PyJWT==2.10.1
SQLAlchemy==2.0.41
pyorc==0.10.0

# temporary for debug output
psutil>=6.0.0,<7.0.0

notifications-python-client==10.0.1

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@106.0.1

# gds-metrics requires prometheseus 0.2.0, override that requirement as 0.7.1 brings significant performance gains
prometheus-client==0.14.1
git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

sentry-sdk[flask,celery,sqlalchemy]==1.45.1
