# This file was automatically copied from notifications-utils@101.1.0

beautifulsoup4==4.12.3
pytest==8.3.4
pytest-env==1.1.5
pytest-mock==3.14.0
pytest-xdist==3.6.1
pytest-testmon==2.1.1
requests-mock==1.12.1
freezegun==1.5.1

ruff==0.11.4  # Also update `.pre-commit-config.yaml` if this changes
