boto3==1.5.6
cffi==1.11.0 # pyup: != 1.11.1, != 1.11.2 # These versions are missing .whl
celery==3.1.25 # pyup: <4
docopt==0.6.2
Flask-Bcrypt==0.7.1
Flask-Marshmallow==0.8.0
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask==0.12.2
click-datetime==0.2
gunicorn==19.7.1
iso8601==0.1.12
jsonschema==2.6.0
marshmallow-sqlalchemy==0.13.2
marshmallow==2.15.0
monotonic==1.4
psycopg2==2.7.3.2
PyJWT==1.5.3
SQLAlchemy-Utils==0.32.21
SQLAlchemy==1.2.0

notifications-python-client==4.7.1

# PaaS
awscli==1.14.19
awscli-cwlogs>=1.4,<1.5

git+https://github.com/alphagov/notifications-utils.git@23.4.0#egg=notifications-utils==23.4.0

git+https://github.com/alphagov/boto.git@2.43.0-patch3#egg=boto==2.43.0-patch3
