# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

celery[sqs]
Flask-Bcrypt
flask-marshmallow
Flask-Migrate
flask-sqlalchemy
click-datetime
gunicorn[eventlet]
eventlet
iso8601
jsonschema[format]
marshmallow-sqlalchemy
marshmallow
psycopg2-binary
PyJWT
SQLAlchemy
pyorc

# temporary for debug output
psutil>=6.0.0,<7.0.0

notifications-python-client

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@104.0.1

# gds-metrics requires prometheseus 0.2.0, override that requirement as 0.7.1 brings significant performance gains
prometheus-client
git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

sentry-sdk[flask,celery,sqlalchemy]
