-r requirements.txt
flake8==3.5.0
pytest==3.8.0
moto==1.3.6
pytest-env==0.6.2
pytest-mock==1.10.0
pytest-cov==2.6.0
pytest-xdist==1.23.0
coveralls==1.5.0
freezegun==0.3.10
requests-mock==1.5.2
# optional requirements for jsonschema
strict-rfc3339==0.7
rfc3987==1.3.8
