# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

cffi==1.13.1
celery==3.1.26.post2 # pyup: <4
docopt==0.6.2
Flask-Bcrypt==0.7.1
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
git+https://github.com/mitsuhiko/flask-sqlalchemy.git@500e732dd1b975a56ab06a46bd1a20a21e682262#egg=Flask-SQLAlchemy==2.3.2.dev20190108
Flask==1.1.1
click-datetime==0.2
eventlet==0.25.1
gunicorn==19.7.1  # pyup: ignore, >19.8 breaks eventlet patching
iso8601==0.1.12
jsonschema==3.1.1
marshmallow-sqlalchemy==0.19.0
marshmallow==2.20.2  # pyup: <3 throws errors
psycopg2-binary==2.8.4
PyJWT==1.7.1
SQLAlchemy==1.3.10

notifications-python-client==5.4.0

# PaaS
awscli-cwlogs>=1.4,<1.5


# Putting upgrade on hold due to v1.0.0 using sha512 instead of sha1 by default
itsdangerous==0.24  # pyup: <1.0.0

git+https://github.com/alphagov/notifications-utils.git@36.3.0#egg=notifications-utils==36.3.0

git+https://github.com/alphagov/boto.git@2.43.0-patch3#egg=boto==2.43.0-patch3
